{% extends 'posts/base.html' %} {% load django_bootstrap5 %} {% block content %}

{% comment %} <a class="back-index" href="{% url 'posts:main' user.pk %}">
  < <span style="margin-left: 5px; font-size: 16px">홈으로</span></a
> {% endcomment %}

<h1>이명학의 방명록</h1>



<!-- posts의 name이 new인 곳으로 보냄 -->
<!-- 제목은 title로 넘어가며 내용은 content로 전송 -->
{% comment %} <form action="{% url 'posts:create' %}" method="POST">
  {% csrf_token %} 
  {% bootstrap_form comment_form layout='inline'%}
  <input type="submit" />
</form>

<form action="{% url 'posts:create' %}" method="POST">
  {% csrf_token %}
  <div class="header-message">메시지를 남겨주세요!</div>
  <div>
    <input
      class="sending-message text-center form-control"
      type="text"
      name="content"
      placeholder="따뜻한 메시지를 남겨주세요!"
      id="exampleFormControlTextarea1"
      required
    />
  </div>
  <input
    class="sending-nickname text-center mt-2 form-control"
    type="text"
    name="title"
    placeholder="닉네임을 입력하세요(10자 이하)"
    id="exampleFormControlInput1"
    required
  />
  <button type="submit" class="button fs-5">
    <div class="inner-border">마음 전달하기</div>
  </button>
</form> {% endcomment %}
{% endblock %}
