<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>크리스마스</title>
  </head>
  <body>
    {% extends 'posts/base.html' %} {% block content %}
    <div class="d-flex justify-content-center">
      이명학 님에게 메시지를 남겼어요!
    </div>
    <div class="container create-paper">
      <div class="create-inner-paper">
        <div class="main-massage" style="max-height: 600px; overflow: auto">
          {{ post.content }}
        </div>
        <div class="from-massage">From. {{ post.title}}</div>
      </div>
      <a href="{% url 'posts:index' %}">
        <div class="close">닫기</div>
      </a>
    </div>
    {% endblock %}
  </body>
</html>
