{% extends 'posts/base.html' %}{% load django_bootstrap5 %} {% block content %}
{% load static %}

<div class="coin">
  <a href="{% url 'posts:decoration'%}" class="into-store">
    <div class="store">
      <div>
        <img
          src="{% static 'css/상점.png'%}"
          alt="상점"
          width="40"
          style="padding: 0px"
        />
      </div>
    </div>
  </a>
  <div class="dolf-coin">
    <div>
      <img
        src="{% static 'css/코인.png'%}"
        alt="코인"
        width="40px"
        ;
        height="40px"
      />
    </div>
    {{ coin }}개
  </div>
</div>
<div>
  <div class="m-2" style="height: 25px"></div>
</div>
<div class="mt-5">
  <div class="m-4">
    {% if santaoduck %}
    <img
      src="{% static 'css/santaoduck.jpg'%}"
      alt="santaoduck"
      style="width: 60px; height: 60px"
    />
    {% endif %}
  </div>
</div>
<div>
  <div class="m-4">
    {% if oduck %}
    <img
      src="{% static 'css/oduck.jpg'%}"
      alt="oduck"
      style="width: 60px; height: 60px"
    />
    {% endif %}
  </div>
</div>
<div>
  <div class="m-4">여백</div>
</div>
<div>
  <div class="m-4">여백</div>
</div>
<div>
  <div class="m-4">여백</div>
</div>
<div>
  <div class="m-4">여백</div>
</div>
<a
  class="d-flex justify-content-center create-post"
  href="{% url 'posts:create' user.pk %}"
>
  <button class="button fs-5">
    <div class="inner-border">트리 생성하기</div>
  </button>
</a>

{% comment %}
<form action="{% url 'posts:comment_create' comment.pk %}" method="POST">
  {% csrf_token %} {% bootstrap_form comment_form %}
  <input type="submit" />
</form>
{% endcomment %} {% endblock %}
